{
    "openapi": "3.0.1",
    "info": {
        "title": "AudioStack",
        "version": "v1",
        "description": "AudioStack - the global backbone of audio production. Infrastructure for AI driven synthetic audio creation. Easily integrate audio into your product or allow end users to create high quality audio. \n",
        "termsOfService": "https://www.aflorithmic.ai/terms-of-use",
        "contact": {
            "name": "Tech Lead of AudioStack",
            "email": "sam@aflorithmic.ai"
        }
    },
    "servers": [
        {
            "url": "https://v2.api.audio",
            "description": "Main production server"
        }
    ],
    "paths": {
        "/content/script": {
            "description": "\n## Product Description\n\nSimply put, a script is the format that makes creating and audio with audiostacks, accessible, scalable and awesome. In summary a script contains a series of commands for producing beautifully rendered text-to-speech, that can later be mixed with custom media files and dynamically adjustable sound templates. In the most basic example, a script with the text ``hello world`` will permit our speech services #here to render a syntehtic rendition of the words ``hello world``.\n\nTo annotate a script we have a collection of *markup* syntax used to signify sections, sound effects, dictionary flags and more. All of our tags are prefixed with `as:` syntax (short for audiostack).\n\n### Sections\nAll scripts should start and end with a `<as:section>`\n\n```html\n<as:section name=\"hello\">\n    Hello world, this section is named hello. \n</as:section>\n```\n\n\nScripts not created without a section tag will have one generated automatically. A script can contain many sections, but sections cannot be nested. See `as:sub` for adding sub-sections.\n\n\nTo combine a speech file with a sound design, apply the `soundsegment` attribute to the `as:section` tag.\n\n```html\n<as:section name=\"intro\" soundsegment=\"intro\">\n    This is the first section and will be combined with the intro music.\n</as:section>\n\n<as:section name=\"main\" soundsegment=\"main\">\n    This is the second section and will be combined with the main music. The section name and soundsegment don't have to have the same name.\n</as:section>\n```\n\n### Sub-sections\nTo insert sub-sections you need to use the `<as:sub>` tag. By default all sub-sections will be rendered with the same voice, but this can be configured in the speech call. However all the tts content with the section will be combined with the supplied sound segment. Sub-sections cannot be nested.\n\n```html\n<as:section name=\"intro\" soundsegment=\"intro\">\n    <as:sub name=\"introa\"> This is sub-section 1 </as:sub>\n    <as:sub name=\"introb\"> This is sub-section 2 </as:sub>\n</as:section>\n```\n\n### Media and FX\n\nTo create awesome audio content you can also insert sound effects and media files. Conceptually these work the same, fx are sound effects that we have curated for you, and media files can be user-uploaded. The tags for these are very similar.\n\n```html\n<as:section name=\"intro\" soundsegment=\"intro\">\n    Hello and welcome to my awesome audio advert \n    <as:fx name=\"bang\" id=\"fx1\"/>\n    I have also uploaded my companies sound branding which will now play.\n    <as:media name=\"branding1\" id=\"branding\"/>\n</as:section>\n```\n\nUse the `name` if you wish to use a named asset. Use the `id` tag if you wish to swap the content in a future mastering request without recreating the script. Note that either `name` or `id` must be supplied.\n\n### Placeholders\n\nTo produce variants of a single script you can use the `as:placeholder` tag to insert content during a speech creation call. \n\n```html\n<as:section name=\"intro\" soundsegment=\"intro\"> \n    hello enjoy a coffee with <as:placeholder id=\"username\">name</as:placeholder>\n</as:section>\n```\n\nThe content between the placeholder tag is the default content that will be used, the `id` parameter is used to replace this content during the speech call. For example, setting username=\"sam\".\n\nFor reference these are all the audiostack specific ssml tags.\n```html\n    <as:section name=\"main\" soundSegment=\"main\"> hello </as:section>\n    <as:sub name=\"main\"> hello </as:sub>\n    <as:fx name=\"riser\" id=\"fx1\" /> \n    <as:media name=\"soundbranding.wav\" id=\"media1\" />\n    <as:placeholder id=\"username\"> fallback </as:placeholder> \n    <as:preserve> This text will not be corrected by voice intelligence service </as:preserve>\n```\n\n### SSML\nSSML stands for Speech Synthesis Markup Language, and many TTS providors supply a collection of these tags for customising the sonice rendering of TTS voices, for example, changing prosidy, speaking speed, or inserting pauses between words. The syntax is ``<SSMLTagName parameters> ``, for a comprehensive list of SSML tags see this helpful guide.\n\n",
            "post": {
                "tags": [
                    "Script"
                ],
                "operationId": "postScript",
                "summary": "Create a Script resource.",
                "description": "\nCreates a new script resource. Scripts are organised by directories, of which there are 3, projectName, moduleName, scriptName. Within this structure an indivdual script has a scriptId that is unique. It is possible to have multiple scripts under a given ``projectName/moduleName/scriptName`` structure. Therefore repeated calls to this endpoint will create multiple scripts. Use script update (PUT) to update an existing script (with its unique scriptId)\n\nA script's default version is v0. You can create multiple versions of one scriptId, which is handy in cases of multilingual coverage, targeted content etc. To create another version of a script use the PUT method.\n\n",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "scriptText"
                                ],
                                "properties": {
                                    "projectName": {
                                        "type": "string"
                                    },
                                    "moduleName": {
                                        "type": "string"
                                    },
                                    "scriptName": {
                                        "type": "string"
                                    },
                                    "scriptText": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Script created/updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "projectName": {
                                                    "type": "string"
                                                },
                                                "moduleName": {
                                                    "type": "string"
                                                },
                                                "scriptName": {
                                                    "type": "string"
                                                },
                                                "scriptId": {
                                                    "type": "string"
                                                },
                                                "scriptText": {
                                                    "type": "string"
                                                },
                                                "metadata": {
                                                    "type": "string"
                                                },
                                                "creationDate": {
                                                    "type": "string"
                                                },
                                                "lang": {
                                                    "type": "string"
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "soundSegment": {
                                                                "type": "string"
                                                            },
                                                            "contentType": {
                                                                "type": "string"
                                                            },
                                                            "content": {
                                                                "type": "string"
                                                            },
                                                            "placeholders": {
                                                                "type": "object",
                                                                "properties": {}
                                                            },
                                                            "parent": {
                                                                "type": "string"
                                                            },
                                                            "subSections": {
                                                                "type": "array"
                                                            },
                                                            "uuid": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "number"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {
                                            "projectName": "untitled",
                                            "moduleName": "untitled",
                                            "scriptName": "untitled",
                                            "scriptId": "2609463f-9614-48e6-b0cc-31d4f44d7e72",
                                            "scriptText": "<as:section name=\"intro\" soundsegment=\"intro\">         hello this is the new script syntax     </as:section>    <as:section name=\"main\" soundsegment=\"main\">         This uses regular H T M L syntax and replaces our old script formatting     </as:section>    <as:section name=\"outro\" soundsegment=\"outro\">         This massively improves usability, aids with learnability and should improve adoption     </as:section>",
                                            "metadata": "{}",
                                            "creationDate": "2023-10-24T08:51:07.533516",
                                            "lang": "en",
                                            "sections": [
                                                {
                                                    "name": "intro",
                                                    "soundSegment": "intro",
                                                    "contentType": "tts",
                                                    "content": "hello this is the new script syntax",
                                                    "placeholders": {},
                                                    "parent": "",
                                                    "subSections": [],
                                                    "uuid": "dbca95a7-62f2-4aee-87a0-3ebd62abedf4"
                                                },
                                                {
                                                    "name": "main",
                                                    "soundSegment": "main",
                                                    "contentType": "tts",
                                                    "content": "This uses regular H T M L syntax and replaces our old script formatting",
                                                    "placeholders": {},
                                                    "parent": "",
                                                    "subSections": [],
                                                    "uuid": "d210c15f-7509-4cdc-a45c-f16ce6dc1db5"
                                                },
                                                {
                                                    "name": "outro",
                                                    "soundSegment": "outro",
                                                    "contentType": "tts",
                                                    "content": "This massively improves usability, aids with learnability and should improve adoption",
                                                    "placeholders": {},
                                                    "parent": "",
                                                    "subSections": [],
                                                    "uuid": "b88242cb-519f-4712-a930-b5ed4eba4412"
                                                }
                                            ]
                                        },
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0.0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Script created",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Script could not be created, see errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "number"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "Missing body object"
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0.0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to create script",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Access denied. Could not find a valid organization."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Script"
                ],
                "operationId": "putScript",
                "summary": "Updates a Script resource.",
                "description": "\nUpdates an existing script resource. Additional versions can be appended to a given scriptId. To do this supply the version field with a named version. For example, `en` or `es`. By default `v0` is reserved and represents the fist version created when the original script was created with a (POST) request.\n",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "scriptId",
                                    "scriptText"
                                ],
                                "properties": {
                                    "scriptId": {
                                        "type": "string",
                                        "description": "The scriptId of the resource to be updated."
                                    },
                                    "scriptText": {
                                        "type": "string",
                                        "description": "Script text to replace, or add to new version"
                                    },
                                    "version": {
                                        "type": "string",
                                        "description": "By default this will update v0, however you can set this field to update/create an additional version of this scriptId"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Script created/updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metadata": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                },
                                                "scriptName": {
                                                    "type": "string"
                                                },
                                                "creationDate": {
                                                    "type": "string"
                                                },
                                                "projectName": {
                                                    "type": "string"
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "soundSegment": {
                                                                "type": "string"
                                                            },
                                                            "contentType": {
                                                                "type": "string"
                                                            },
                                                            "content": {
                                                                "type": "string"
                                                            },
                                                            "placeholders": {
                                                                "type": "object",
                                                                "properties": {}
                                                            },
                                                            "parent": {
                                                                "type": "string"
                                                            },
                                                            "subSections": {
                                                                "type": "array"
                                                            },
                                                            "uuid": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "availableVersions": {
                                                    "type": "array"
                                                },
                                                "scriptText": {
                                                    "type": "string"
                                                },
                                                "lang": {
                                                    "type": "string"
                                                },
                                                "orgId": {
                                                    "type": "string"
                                                },
                                                "moduleName": {
                                                    "type": "string"
                                                },
                                                "scriptId": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {
                                            "metadata": "{}",
                                            "version": "v0",
                                            "scriptName": "untitled",
                                            "creationDate": "2023-10-24T08:51:07.533516",
                                            "projectName": "untitled",
                                            "sections": [
                                                {
                                                    "name": "intro",
                                                    "soundSegment": "intro",
                                                    "contentType": "tts",
                                                    "content": "hello this is the new script syntax",
                                                    "placeholders": {},
                                                    "parent": "",
                                                    "subSections": [],
                                                    "uuid": "2b9fc16d-7705-4e97-a29c-f83dfa0c3e01"
                                                },
                                                {
                                                    "name": "main",
                                                    "soundSegment": "main",
                                                    "contentType": "tts",
                                                    "content": "This uses regular H T M L syntax and replaces our old script formatting",
                                                    "placeholders": {},
                                                    "parent": "",
                                                    "subSections": [],
                                                    "uuid": "f767e9a6-f578-4391-aab5-432144585269"
                                                },
                                                {
                                                    "name": "outro",
                                                    "soundSegment": "outro",
                                                    "contentType": "tts",
                                                    "content": "This massively improves usability, aids with learnability and should improve adoption",
                                                    "placeholders": {},
                                                    "parent": "",
                                                    "subSections": [],
                                                    "uuid": "883092c9-667d-4772-923d-b0e2b2915143"
                                                }
                                            ],
                                            "availableVersions": [],
                                            "scriptText": "<as:section name=\"intro\" soundsegment=\"intro\">         hello this is the new script syntax     </as:section>    <as:section name=\"main\" soundsegment=\"main\">         This uses regular H T M L syntax and replaces our old script formatting     </as:section>    <as:section name=\"outro\" soundsegment=\"outro\">         This massively improves usability, aids with learnability and should improve adoption     </as:section>",
                                            "lang": "en",
                                            "orgId": "******************",
                                            "moduleName": "untitled",
                                            "scriptId": "006036f6-897e-4833-a035-2972135befcc"
                                        },
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Script updated",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ScriptId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "ScriptId not supplied"
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to update script",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Script could not be updated, see errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "Missing body object"
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to update script",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Access denied. Could not find a valid organization."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/scripts": {
            "description": "\n## Script Management Description\n\nScripts should be organised into a `projectName/moduleName/scriptName` structure. There are then two methods that are useful for managing content within this structure. These are `/scripts (GET)`, `/scripts (DELETE)`, both of these methods use the same query parameters that allow scripts to either be listed or deleted by given structure. For example, you could list all scripts within a given project, or delete all scripts within a given project and module structure.\n",
            "get": {
                "tags": [
                    "Script"
                ],
                "operationId": "listScripts",
                "summary": "Lists multiple script resources.",
                "description": "\nA maximum of 1000 scripts can be returned in a single GET request, a `paginationToken` will be returned that can be passed to the same method again to list the next 1000 scripts.\n\nTo condense the output JSON, you can supply `verbose=False`, which will remove all of the non-essential details. Leaving only the script directory structure and ID in the response.\n",
                "parameters": [
                    {
                        "in": "query",
                        "name": "projectName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "moduleName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scriptName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scriptId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "paginationToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "verbose",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Script created/updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "scripts": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "metadata": {
                                                                "type": "string"
                                                            },
                                                            "scriptName": {
                                                                "type": "string"
                                                            },
                                                            "creationDate": {
                                                                "type": "string"
                                                            },
                                                            "projectName": {
                                                                "type": "string"
                                                            },
                                                            "sections": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "parent": {
                                                                            "type": "string"
                                                                        },
                                                                        "subSections": {
                                                                            "type": "array"
                                                                        },
                                                                        "soundSegment": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "placeholders": {
                                                                            "type": "object",
                                                                            "properties": {}
                                                                        },
                                                                        "contentType": {
                                                                            "type": "string"
                                                                        },
                                                                        "uuid": {
                                                                            "type": "string"
                                                                        },
                                                                        "content": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "scriptText": {
                                                                "type": "string"
                                                            },
                                                            "lang": {
                                                                "type": "string"
                                                            },
                                                            "moduleName": {
                                                                "type": "string"
                                                            },
                                                            "scriptId": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "paginationToken": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Query parameters not configured",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "ProjectName needs to be supplied to filter by moduleName."
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to list scripts",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Missing authentication token. There might be no such route or method."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Script"
                ],
                "operationId": "deleteScripts",
                "summary": "Deletes multiple script resources.",
                "description": "\ntodo\n",
                "parameters": [
                    {
                        "in": "query",
                        "name": "projectName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "moduleName",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "scriptName",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Scripts deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "deleted": {
                                                    "type": "array"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {
                                            "deleted": []
                                        },
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Deleted the following scriptIds: ",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Cannot delete scripts for these query parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "To delete multiple script(s) project name must be supplied"
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to delete multiple scripts",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Missing authentication token. There might be no such route or method."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/script/{scriptId}": {
            "get": {
                "tags": [
                    "Script"
                ],
                "operationId": "getScriptId",
                "summary": "Get a single script.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scriptId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "preview",
                        "required": false,
                        "description": "Preview the effect of applying various text correction processes, normalisation and dictionary.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "voice",
                        "required": false,
                        "description": "Which TTS voice should be used to generate the preview, note that this required as different voices require different text correction processes.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Script returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metadata": {
                                                    "type": "object",
                                                    "properties": {}
                                                },
                                                "scriptName": {
                                                    "type": "string"
                                                },
                                                "creationDate": {
                                                    "type": "string"
                                                },
                                                "projectName": {
                                                    "type": "string"
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "parent": {
                                                                "type": "string"
                                                            },
                                                            "subSections": {
                                                                "type": "array"
                                                            },
                                                            "soundSegment": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "placeholders": {
                                                                "type": "object",
                                                                "properties": {}
                                                            },
                                                            "contentType": {
                                                                "type": "string"
                                                            },
                                                            "uuid": {
                                                                "type": "string"
                                                            },
                                                            "content": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "scriptText": {
                                                    "type": "string"
                                                },
                                                "lang": {
                                                    "type": "string"
                                                },
                                                "moduleName": {
                                                    "type": "string"
                                                },
                                                "scriptId": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {
                                            "metadata": {},
                                            "scriptName": "untitled",
                                            "creationDate": "2023-10-24T08:51:07.533516",
                                            "projectName": "untitled",
                                            "sections": [
                                                {
                                                    "parent": "",
                                                    "subSections": [],
                                                    "soundSegment": "",
                                                    "name": "default",
                                                    "placeholders": {},
                                                    "contentType": "tts",
                                                    "uuid": "14e5c7fd-32fd-498b-b06f-bbb1d915a79e",
                                                    "content": "hello"
                                                }
                                            ],
                                            "scriptText": "<as:section name=\"default\">hello</as:section>",
                                            "lang": "fi",
                                            "moduleName": "untitled",
                                            "scriptId": "0203d531-4d39-47ba-8354-09f1f2c4bf1f"
                                        },
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Script retrieved.",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ScriptId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "scriptId not found."
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to retrieve script",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Access denied. Could not find a valid organization."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Script"
                ],
                "operationId": "deleteScriptId",
                "summary": "Deletes a script and all its versions (if applicable).",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scriptId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Script deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {}
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {},
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Removed scriptId 6b2c00f5-4afa-45a6-80bd-e2d7174b60f4 and version(s): v0",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ScriptId not found - cannot be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "No script(s) or version(s) exist for scriptId x"
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Script not found",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Access denied. Could not find a valid organization."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/script/{scriptId}/{version}": {
            "get": {
                "tags": [
                    "Script"
                ],
                "operationId": "getScriptVersion",
                "summary": "Get a single version of a script with a given scriptId.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scriptId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "preview",
                        "required": false,
                        "description": "Preview the effect of applying various text correction processes, normalisation and dictionary.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "voice",
                        "required": false,
                        "description": "Which TTS voice should be used to generate the preview, note that this required as different voices require different text correction processes.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Script returned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metadata": {
                                                    "type": "object",
                                                    "properties": {}
                                                },
                                                "scriptName": {
                                                    "type": "string"
                                                },
                                                "creationDate": {
                                                    "type": "string"
                                                },
                                                "projectName": {
                                                    "type": "string"
                                                },
                                                "sections": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "parent": {
                                                                "type": "string"
                                                            },
                                                            "subSections": {
                                                                "type": "array"
                                                            },
                                                            "soundSegment": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "placeholders": {
                                                                "type": "object",
                                                                "properties": {}
                                                            },
                                                            "contentType": {
                                                                "type": "string"
                                                            },
                                                            "uuid": {
                                                                "type": "string"
                                                            },
                                                            "content": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "scriptText": {
                                                    "type": "string"
                                                },
                                                "lang": {
                                                    "type": "string"
                                                },
                                                "moduleName": {
                                                    "type": "string"
                                                },
                                                "scriptId": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {
                                            "metadata": {},
                                            "scriptName": "untitled",
                                            "creationDate": "2023-10-24T08:13:59.047804",
                                            "projectName": "untitled",
                                            "sections": [
                                                {
                                                    "parent": "",
                                                    "subSections": [],
                                                    "soundSegment": "",
                                                    "name": "default",
                                                    "placeholders": {},
                                                    "contentType": "tts",
                                                    "uuid": "c6429895-64e5-4a58-8bab-bc91933c621b",
                                                    "content": "hello"
                                                }
                                            ],
                                            "scriptText": "<as:section name=\"default\">hello</as:section>",
                                            "lang": "fi",
                                            "moduleName": "untitled",
                                            "scriptId": "971c7eaf-15c3-47f0-8b73-590019131f9c"
                                        },
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Script retrieved.",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ScriptId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "scriptId not found."
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Failed to retrieve script",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Could not find a valid api key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "example": {
                                        "message": "Access denied. Could not find a valid organization."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Script"
                ],
                "operationId": "deleteScriptVersion",
                "summary": "Deletes a single version of a script.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "scriptId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Script deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {}
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "data": {},
                                        "meta": {
                                            "version": "2.0.0",
                                            "requestId": "******************",
                                            "creditsUsed": 0,
                                            "creditsRemaining": 0.0
                                        },
                                        "message": "Removed scriptId 24b042cf-ac08-4a54-8db4-19da28d6f1c0 and version(s): v0",
                                        "warnings": []
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ScriptId not found - cannot be deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "creditsUsed": {
                                                    "type": "integer"
                                                },
                                                "creditsRemaining": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "warnings": {
                                            "type": "array"
                                        }
                                    },
                                    "example": {
                                        "errors": [
                                            "No script(s) or version(s) exist for scriptId x"
                                        ],
                                        "meta": {
                                            "version": "2.0.0",
[...]
